* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  background: #eee;
  padding: 0 16px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  background: #f7f9a4;
  margin: auto -16px;
  padding: 5px 32px;
  -webkit-box-shadow: 0 0 10px 0 rgba(43, 43, 43, 0.3);
  box-shadow: 0 0 10px 0 rgba(43, 43, 43, 0.3);
  -webkit-text-stroke: 1px rgb(91, 87, 87);
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: #3f3c3c;
  font-family: "monument", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: rgb(218, 218, 218);
  padding: 0.2rem 0;
}

footer p {
  color: #868585;
  font-family: "montserrat", sans-serif;
}

.note-area {
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.note {
  max-width: 97vw;
  display: flex;
  background: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0 2px 5px #ccc;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  flex-direction: column;
  margin: 16px;
}

.note__title {
  font-size: 24px;
  margin-bottom: 6px;
  border: none;
  outline: none;
  display: inline-block;
  font-weight: 500;
}

.note__content{
  font-size: 18px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: none;
  outline: none;
  display: inline-block;
  appearance: none;
  resize: none;
  width:100%;
  height: auto;
  font-weight: 200;
  resize: none;
  height: auto;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: red;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  font-size: 0.7rem;
}

form.create-note {
  position: relative;
  width: 20rem;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: red;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.logo-header {
  width: 3.5rem;
}

.user-profile_img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0#767272;
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-menu-container {
  display: inline-block;
  position: absolute;
  top: 4.5rem;
  margin-right: 1rem;
  right: 0;
  z-index: 1;
  background: #d9d9d9;
  border-radius: 0.5rem;
  text-align: flex-start;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 4px 4px 0 #bab8b8;
  filter: drop-shadow(0px 4px 4px #d9d9d9);
  -webkit-filter: drop-shadow(0px 4px 4px #d9d9d9);
}

.dropdown-menu-logout,
.dropdown-menu-username {
  color: #5a5a5a;
  font-size: 1rem;
  font-family: "montserrat", sans-serif;
  -webkit-text-stroke: 0;
}

.dropdown-menu-logout {
  color: #fa6e6e;
  outline: none;
  margin-top: 0.8rem;
  background: 0;
  border: 0;
}

.dropdown-menu-logout:hover {
  color: #f00;
  cursor: pointer;
}

hr {
  border: 0;
  border-top: 2px solid #6d6c6c;
}

.signIn-container {
  background: #f8fabb;
  height: 100vh;
  padding-top: 10%;
}

.signIn-card {
  width: 20rem;
  background: #c8c8c8;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px 0 #c8c8c8;
  filter: drop-shadow(0px 4px 4px #c8c8c8);
  -webkit-filter: drop-shadow(0px 4px 4px #c8c8c8);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}

.signIn-Name {
  font-family: "monument", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}

.signIn-card_img {
  width: 8rem;
  margin: 2rem 0 0.5rem;
}

.signIn-hr {
  border: 0;
  border-top: 2px solid #000;
  width: 90%;
  margin: 2rem auto;
}

.Oauth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
  background: #c7c7c7;
  box-shadow: 0 4px 4px 0 #736f6f;
  filter: drop-shadow(0 4px 4px #736f6f);
  -webkit-filter: drop-shadow(0 4px 4px #736f6f);
  border-radius: 0.3rem;
  padding: 0.2rem;
  width: 90%;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.Oauth:hover {
  user-select: none;
  background: rgb(105, 105, 105);
  color: #c7c7c7;
  cursor: pointer;
}

h6 {
  font-family: "freehand", cursive;
  font-weight: 400;
  font-size: 1.3rem;
  color: #202020;
}

/* tablet responsive */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .signIn-card {
    margin-top: 10rem;
    width: 80%;
  }

  .signIn-Name {
    font-size: 2rem;
  }

  .signIn-card_img {
    width: 10rem;
  }

  h6 {
    font-size: 2rem;
  }

  .Oauth {
    width: 60%;
    box-shadow: none;
  }
}

/* Mobile Responsive */

@media only screen and (max-width: 768px) {
  .logo-text > img {
    display: none;
  }

  .signIn-card {
    background: none;
    box-shadow: none;
    margin-top: 3rem;
  }

  hr {
    display: none;
  }

  h6 {
    margin-bottom: 10rem;
  }

  .Oauth {
    box-shadow: none;
  }

  .note {
    max-width: 92vw;
  }
}
